{% extends 'layout.html' %}

{% block title %}
{{ publication.publication_name }}
{% endblock %}


{% block content %}
<div class="bg-white">
    <div class="bg-white">
        <a class="d-flex link-dark text-decoration-none" href="{% url 'view_user' publication.author.id %}">
            <div class="d-flex flex-row m-2">
                <img src="{{ publication.author.avatar.url }}" class="rounded-circle p-2" alt="img" width="70px" height="70px">
                <h3 class="main-title align-text-bottom my-auto">{{ publication.author.first_name }} {{ publication.author.last_name }}</h3>
            </div>
        </a>
    </div>
    <img class="p-0" src="{{ publication.image.url }}" alt="img" width="100%">
    <div class="p-0 my-1 mx-3">
        <div class="d-flex justify-content-between">
            <div>
                <span class="m-0 main-title">{{ publication.publication_name }}</span>
                <p class="m-0">{{ publication.publication_date }}</p>
            </div>
            <div class="m-1 mt-auto d-flex flex-row align-items-end">
<!--                like-->
                <svg style="margin-bottom:5px" width="25" height="25" viewBox="0 0 16 16">
                    {% include 'icons/like.html' %}
                </svg>
                <p class="my-auto fs-5 display-1 me-3">{{ likes_count }}</p>
<!--                dislike-->
                <svg width="25" height="25" viewBox="0 0 16 16">
                    {% include 'icons/dislike.html' %}
                </svg>
                <p class="my-auto fs-5 display-1">{{ dislikes_count }}</p>
            </div>
        </div>
        {% if publication.description %}
        <hr class="my-1">
        <p class="py-2 h-3" style="white-space: pre-line">{{ publication.description }}</p>
        {% endif %}
    </div>


</div>

<!--comments-->
{% if comments %}
<div class="mx-5 pb-4">
    <span class="text-secondary mx-auto my-1 chapter-title">
        comments:
    </span>
    <div>
        {% for comment in comments %}
<!--        comment-->
        <div class="bg-white p-2 px-3 my-1">

                <div class="d-flex justify-content-between">
<!--                    comment author-->
                    <a class="link-dark text-decoration-none" href="{% url 'view_user' comment.author.id %}">
                        <p class="m-0">
                        {{ comment.author.first_name }} {{ comment.author.last_name }}:
                        </p>
                    </a>
<!--                    comment date-->
                    <p class="mt-auto mb-0 mr-auto">{{ comment.publication_date.date }}</p>
                </div>

            <hr class="my-1">
<!--            comment text-->
            <p class="" style="white-space: pre-line;">{{ comment.text }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}