{% extends 'main/layout.html' %}

{% block title %}
Users
{% endblock %}


{% block content %}
<h1 class="display-5 p-2 m-0">All users list:</h1>
<div class="list-group">
    {% for user in users %}
    <a class="text-decoration-none link-dark list-group-item bg-white" href="{% url 'view_profile' user.id %}">
    <div class="d-flex">
        <img src="{{ user.avatar.url }}" class="rounded-circle p-2" alt="img" width="65px" height="65px">
        <p class="p-1 m-0 display-6">{{ user.first_name }} {{ user.last_name }}</p>
    </div>
    </a>
    {% endfor %}
</div>
{% endblock %}