{% extends 'layout.html' %}

{% block title %}
{{ user.first_name }}
{{ user.last_name }}
{% endblock %}


{% block content %}
<div class="p-3 bg-white border-bottom">
    <div class="collapse show switch-edit-profile" id="info-panel">
        <div class="flex-row d-flex overflow-hidden">
            <img class="rounded-circle" src="{{ user.avatar.url }}" alt="img" width="100px" height="100px">
            <div class="d-flex flex-column m-0 ms-3 mb-3">
                <h1 class="main-title">{{ user.first_name }} {{ user.last_name }}</h1>
                <p>
                    publications: {{ publications.count }}
                    comments: {{ comments_count }}
                </p>
            </div>
        </div>

        {% if user == request.user %}
        <hr class="my-1">

        <div class="d-flex justify-content-around">
            <a class="btn btn-outline-secondary mx-1 w-100" data-toggle="collapse" href=".switch-edit-profile" role="button" aria-expanded="false" aria-controls="info-panel edit-info-panel">
            edit profile
            </a>

            <a class="btn btn-outline-secondary mx-1 w-100" href="{% url 'create_publication' %}">create publication</a>
        </div>

        {% endif %}

        <hr class="my-1">

        <div class="">
            {% if user.bio %}
    <!--        <h3 class="chapter-title">bio:</h3>-->
            <p class="m-0" style="white-space: pre-line">{{ user.bio }}</p>
            {% else %}

            <p class="m-0 text-muted">
                no information about user...
            </p>

            {% endif %}
        </div>
    </div>

<!--edit profile-->
    {% if user == request.user %}
    <form class="collapse switch-edit-profile" id="edit-info-panel" enctype="multipart/form-data" method="POST">
        <span class="sub-main-title">
            edit:
        </span>
        {% csrf_token %}
        <div class="flex-row d-flex">
            <div class="me-2">
                {{ edit_profile_form.avatar.errors }}
                <label class="fs-6 me-3" for="{{ edit_profile_form.avatar.id_for_label }}">change avatar:</label>
                <div>
                    {{ edit_profile_form.avatar }}
                </div>
            </div>
            <div class="d-flex flex-column me-2">
                {{ edit_profile_form.first_name.errors }}
                <label class="fs-6 me-3" for="{{ edit_profile_form.first_name.id_for_label }}">first name:</label>
                {{ edit_profile_form.first_name }}
            </div>
            <div class="d-flex flex-column">
                {{ edit_profile_form.last_name.errors }}
                <label class="fs-6 mr-3" for="{{ edit_profile_form.last_name.id_for_label }}">last name:</label>
                {{ edit_profile_form.last_name }}
            </div>
        </div>

        <hr class="my-1">

        <div class="d-flex flex-column">
            {{ edit_profile_form.bio.errors }}
            <label class="fs-6 me-3" for="{{ edit_profile_form.bio.id_for_label }}">bio:</label>
            {{ edit_profile_form.bio }}
        </div>

        <div class="d-flex justify-content-between">
            <input class="btn btn-primary mt-2" type="submit" value="save">
            <a class="btn btn-secondary  mt-2" data-toggle="collapse" href=".switch-edit-profile" role="button" aria-expanded="false" aria-controls="info-panel edit-info-panel">
                chanel
            </a>
        </div>
    </form>
    {% endif %}

</div>

<!--publications-->
<div class=" mx-3 mt-2">
    {% if publications %}
    <h1 class="chapter-title">
        publications:
    </h1>
    {% endif %}

    <div class="d-flex flex-wrap">
        {% for publication in publications %}
        <a class="text-dark text-decoration-none" href="{% url 'view_publication' publication.id %}">
        <div class="h-3 me-3 mb-3 bg-white d-flex flex-column border rounded overflow-hidden" style="width: 250px; height: 300px">
            <div class="mx-3 my-2 mb-1">
                <h2 class="m-0 sub-main-title">{{ publication.name }}</h2>
                <p class=" my-0">{{publication.publication_date}}</p>
            </div>
            <img class="p-0 my-auto" src="{{ publication.image.url }}" alt="img" >
        </div>
        </a>
        {% endfor %}
    </div>

</div>
{% endblock %}
