{% extends 'main/layout.html' %}

{% block title %}
{{ publication.publication_name }}
{% endblock %}


{% block content %}
<div class="h-3 bg-light">
    <div>
        <a href="/view/profile/{{ publication.author.id }}">
            <img src="{{ publication.author.avatar.url }}" class="rounded-circle p-2" alt="img" width="80px" height="80px">
        </a>
    </div>
    <img src="{{ publication.image.url }}" alt="img" width="100%">
    <h2 class="p-2 m-0">{{ publication.publication_name }}</h2>
    <p class="p-2 h-3 bg-light">{{ publication.description }}</p>
</div>
{% endblock %}